<?xml version="1.0" encoding="UTF-8"?>
<api context="/JSONDataMapper" name="JSONDataMapper" xmlns="http://ws.apache.org/ns/synapse">
    <resource methods="POST">
        <inSequence>
            <datamapper config="gov:datamapper/JSONDataMapperConf.dmc" inputSchema="gov:datamapper/JSONDataMapperConf_inputSchema.json" inputType="JSON" outputSchema="gov:datamapper/JSONDataMapperConf_outputSchema.json" outputType="JSON"/>
            <respond/>
        </inSequence>
        <outSequence/>
        <faultSequence/>
    </resource>
</api>
